.v-codemirror {
  --at-apply: "h-full block!";
}
.v-codemirror .cm-editor {
  --at-apply: "h-full";
}

.panel-group {
  border-top: 1px solid var(--vp-c-divider);
}

.panel {
  --at-apply: "flex flex-row text-2rem";
}

.panel-row,
.panel-column {
  --at-apply: "flex";
}

.panel-row {
  --at-apply: "flex-row";
}

.panel-column {
  --at-apply: "flex-col";
}

.panel-resize-handle {
  --resize-border-color: var(--vp-c-bg);
  --resize-background-color: var(--vp-c-divider);

  flex: 0 0 11px;
  background-clip: padding-box;
  transition:
    border-color 0.2s linear,
    background-color 0.2s linear;
  background-color: var(--resize-background-color);
  border-color: var(--resize-border-color);
  border-style: solid;
  border-width: 0 5px;

  --at-apply: "flex outline-none justify-stretch items-stretch";
}

.panel-resize-handle[data-panel-group-direction="vertical"] {
  flex-direction: column;
  border-width: 5px 0;
}

.panel-resize-handle[data-resize-handle-active],
.panel-resize-handle:hover {
  --resize-border-color: var(--vp-c-divider);
  --resize-background-color: var(--vp-c-border);
}

@media only screen and (width <= 996px) {
  .panel-resize-handle {
    flex: 0 0 21px;
    border-width: 0 10px;
  }

  .panel-resize-handle[data-panel-group-direction="vertical"] {
    border-width: 10px 0;
  }
}
